{% extends 'layout.html.twig' %}

{% block content %}
<form action="/select" method="post">
    <select name="selection[user]">
        {% for user in users %}
        <option value="{{ user.id }}">{{ user }}</option>
        {% endfor %}
    </select>
    {% for drink in drinks %}
    <li>
        <input type="radio" value="{{ drink }}" name="selection[drink]"/>
    </li>
    {% endfor %}
    <button type="submit" name="selection[payment]" value="now">Je paye maintenant</button>
    <button type="submit" name="selection[payment]" value="later">Je paye plus tard</button>
</form>
{% endblock %}
