{% extends '::base.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h3>Nouvel boisson</h3>

        <form method="post" action="{{ path('backend_drink_new') }}">
            {{ form_widget(form) }}

            <input type="submit" class="btn btn-primary" value="Enregistrer" />
        </form>
    </div>
</div>
{% endblock %}
